<!-- HOT DEAL SECTION -->
<div id="hot-deal" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="hot-deal">
                    <ul class="hot-deal-countdown">
                        <li>
                            <div>
                                <h3>16483</h3>
                                <span>Years</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>84164</h3>
                                <span>Months</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>34943</h3>
                                <span>Days</span>
                            </div>
                        </li>
                        <li>
                            <div>
                                <h3>601542</h3>
                                <span>Hours</span>
                            </div>
                        </li>
                    </ul>
                    <h2 class="text-uppercase">hot deal this decade</h2>
                    <p>New Gadgets Up to 900% OFF</p>
                    <a class="primary-btn cta-btn" href="#">Shop tomorrow</a>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /HOT DEAL SECTION -->