	<!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/hot-deals">Hot Deals</a></li>
                    <li><a href="/laptops">Laptops</a></li>
                    <li><a href="/smartphones">Smartphones</a></li>
                    <li><a href="/cameras">Cameras</a></li>
                    <li><a href="/accessories">Accessories</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->