<%- include('partials/main') %>
<%- include('partials/header') %>
<%- include('partials/navigation') %>

<h1>Accessories</h1>
<p>Check out our accessories!</p>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/nothing.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Accessories</p>
                                <h3 class="product-name"><a href="#">Nothing Headphones</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product05.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Accessories</p>
                                <h3 class="product-name"><a href="#">HP Headphones</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product02.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Accessories</p>
                                <h3 class="product-name"><a href="#">BOSS Headphones</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/jbl.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Accessories</p>
                                <h3 class="product-name"><a href="#">JBL Headphones</a></h3>
                            </div>
                        </div>
<%- include('partials/end') %>
