<%- include('partials/main') %>
<%- include('partials/header') %>
<%- include('partials/navigation') %>

<h1>Cameras</h1>
<p>Explore our range of cameras!</p>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product09.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Cameras</p>
                                <h3 class="product-name"><a href="#">REKAM Camera</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/nikon.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Cameras</p>
                                <h3 class="product-name"><a href="#">NIKON</a></h3>
                            </div>
                        </div>
<%- include('partials/end') %>
