<%- include('partials/main') %>
<%- include('partials/header') %>
<%- include('partials/navigation') %>

<h1>Hot Deals</h1>
<p>Check out our latest hot deals!</p>

<div class="product-widget">
    <div class="product-img">
        <img src="./img/alien.jpg" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Laptops</p>
        <h3 class="product-name"><a href="#">Alienware Laptop</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/product06.png" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Laptops</p>
        <h3 class="product-name"><a href="#">MSI Laptop</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/acer.jpg" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Laptops</p>
        <h3 class="product-name"><a href="#">ACER Laptop</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/product07.png" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Smartphones</p>
        <h3 class="product-name"><a href="#">Samsung s7+</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/nikon.jpg" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Cameras</p>
        <h3 class="product-name"><a href="#">NIKON</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/jbl.png" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Accessories</p>
        <h3 class="product-name"><a href="#">JBL Headphones</a></h3>
    </div>
</div>
<div class="product-widget">
    <div class="product-img">
        <img src="./img/nothing.jpg" alt="">
    </div>
    <div class="product-body">
        <p class="product-category">Accessories</p>
        <h3 class="product-name"><a href="#">Nothing Headphones</a></h3>
    </div>
</div>
<%- include('partials/end') %>
