<%- include('partials/main') %>
<%- include('partials/header') %>
<%- include('partials/navigation') %>

<h1>Laptops</h1>
<p>Find the latest laptops here!</p>

                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product08.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">ASUS Laptop</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product01.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">HP Laptop</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product03.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">Laptop 2</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/product06.png" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">MSI Laptop</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/acer.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">ACER Laptop</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/dell.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">Dell Laptop</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/lenovo.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">Laptop 3</a></h3>
                            </div>
                        </div>
                        <div class="product-widget">
                            <div class="product-img">
                                <img src="./img/alien.jpg" alt="">
                            </div>
                            <div class="product-body">
                                <p class="product-category">Laptops</p>
                                <h3 class="product-name"><a href="#">Alienware Laptop</a></h3>
                            </div>
                        </div>
<%- include('partials/end') %>
